.carousel {
    position: relative; /* Définir la position relative pour le conteneur du carousel */
    overflow: hidden;
    width: 100%;
    height: 600px; /* Définir la hauteur souhaitée */
    margin-top: 50px;
    border-radius: 25px;
}
.buttons-container.active {
    width: 100%;
    color: white;
    font-weight: 900;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
}
.fa-chevron-left,
.fa-chevron-right {
    margin: 0 40px 0 40px;
    font-size: 64px;
}

.slide {
    position: absolute; /* Utiliser un positionnement absolu */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.slide.active {
    opacity: 1;
}
.indicators.active {
    position: absolute;
    font-size: 32px;
    font-weight: 500;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
.previous,
.next {
    display: flex;
    align-items: center;
    height: 400px;
    cursor: pointer;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

@media (max-width: 1600px) {
    .carousel {
        height: 450px; /* Définir la hauteur souhaitée */
        margin-top: 10px;
        border-radius: 10px;
    }
}
@media (max-width: 950px) {
    .carousel {
        height: 255px; /* Définir la hauteur souhaitée */
        margin-top: 10px;
        border-radius: 10px;
        
    }
    .fa-chevron-left,
    .fa-chevron-right {
        margin: 0 20px 0 20px;
        font-size: 28px;
    }
    .indicators.active {
        font-size: 18px;
        left: 50%;
        transform: translatex(-50%);
        bottom: 10px;
        display: none;
    }
    .previous {
        height: 300px;
    }
    .next {
        height: 300px;
    }
}
