.footer {
    height: 200px;
    background-color: black;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-kasa-footer {
    height: 40px;
}
.text-footer {
    color: white;
    font-size: 24px;
    line-height: 34px;
    margin-top: 30px;
}
.fa-copyright {
    margin-right: 10px;
    font-size: 20px;
}

@media (max-width: 950px) {
    .footer {
        height: 150px;
    }
    .text-footer {
        font-size: 14px;
    }
    .fa-copyright {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    .text-footer {
        font-size: 12px;
    }
}
