.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul {
    display: flex;
    list-style: none;
}
.nav a {
    text-decoration: none;
    margin-left: 60px;
    color: #ff6060;
    font-size: 24px;
    font-weight: 500;
}
.nav a:hover,
.nav-accueil.active,
.nav-apropos.active {
    border-bottom: 2px solid #ff6060;
}
.logo-kasa-header {
    height: 60px;
}

@media (max-width: 950px) {
    .logo-kasa-header {
        height: 40px;
    }
    .nav a {
        font-size: 14px;
        font-weight: 400;
        margin-left: 20px;
    }
}
@media (max-width: 330px) {
    .logo-kasa-header {
        height: 25px;
    }
    .nav a {
        font-size: 12px;
        margin-left: 15px;
    }
}
