.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    background-color: #f6f6f6;
    border-radius: 25px;
    height: auto;
    padding: 80px 50px;
}

@media (max-width: 650px) {
    .cards {
        margin-top: 20px;
        border-radius: 0;
        background-color: white;
        padding: 0;
    }
}
