.collapse {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
}
.collapse button {
    background-color: #ff6060;
    border: none;
}
.collapse-titre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 5px 15px;
    color: white;
    background-color: #ff6060;
    border-radius: 5px;
    height: 50px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.collapse-text {
    font-size: 24px;
    font-weight: 300;
    color: #ff6060;
    background-color: #f6f6f6;
    border-radius: 0 0 5px 5px;
    padding: 20px 20px;
    margin: 0;
}
ul {
    list-style: none;
}

@media (max-width: 600px) {
    .collapse{
        margin-top: 15px;
        width: 100%;
    }
    .collapse-titre{
        height: 30px;
        font-size: 16px;
    }
    .collapse-text{
        font-size: 14px;
    }
    .collapse-icone{
        height: 10px;
    }
    
}
@media (max-width: 330px) {
    .collapse{
        margin-top: 10px;
        width: 100%;
    }
    .collapse-titre{
        height: 20px;
        font-size: 14px;
    }
    .collapse-text{
        font-size: 12px;
    }
    .collapse-icone{
        height: 7px;
    }
    
}
