.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul {
    display: flex;
    list-style: none;
}
.nav a {
    text-decoration: none;
    margin-left: 60px;
    color: #ff6060;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.nav a:hover,
.nav-accueil.active,
.nav-apropos.active {
    border-bottom: 2px solid #ff6060;
}
.logo-kasa-header {
    height: 50px;
}

@media (max-width: 600px) {
    .logo-kasa-header {
        height: 30px;
    }
    .nav a {
        font-size: 14px;
        margin-left: 20px;
    }
}
